/** he elegido usar un template de 12
 ** columnas, para poder utilizar
 ** span de 3, 4, 6 y 12 columnas
 ** más simple y menos intensivo para el
 ** browser sería usar repeat(4, 1fr) pero
 ** entonces no podría crear 3 columnas visuales */

.container__grid-no-bootstrap {
  width: 100%;
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
  .card-grid {
    grid-column: span 12;
  }
  .hero__banner {
    height: 13vh;
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-column: span 6;
  }
  .hero__banner {
    height: 20vh;
  }
}

@media (min-width: 992px) {
  .card-grid {
    grid-column: span 4;
  }
  .hero__banner {
    height: 25vh;
  }
}

@media (min-width: 1200px) {
  .card-grid {
    grid-column: span 3;
  }
  .hero__banner {
    height: 30vh;
  }
}

.navbar-brand {
  font-family: 'LEMON MILK', sans-serif;
}

.navbar-brand sup {
  font-size: 0.5rem;
  vertical-align: super;
}

.nav-link {
  color: rgba(0, 0, 0, 1) !important;
  font-size: 1.25rem !important;
}

/* .container {
  width: 85% !important;
} */

.hero__banner {
  background: url('../img/image-banner.png');
  background-size: cover;
  background-position:center;
}

.profile__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.circular {
  /* width: 100%; */
  /** esta propiedad deja cortada
  ** la imagen, porque su relación
  ** de aspecto no es 1:1. Para 
  ** evitar el problema debo configurar
  ** el height: 100% para que se considere
  ** toda su altura (lado más corto) y se 
  ** elimine el ancho innecesario */
  height: 100%;
}

.btn { 
  border-radius: 0;
  padding: 0.125rem 0.5rem;
  /* font-size: 0.8rem */
  font-weight: 300;
}

/** mis media queries originales
 ** estaban mal ordenadas, por lo que 
 ** requerían de un rango en vez de 
 ** solo un breakpoint. Las dejo como 
 ** testimonio y para refactorizar 
 ** pronto al retomar grid */

/*
@media (min-width: 1600px){
  .card-grid {
    grid-column: span 3;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .card-grid {
    grid-column: span 4;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid {
    grid-column: span 6;
  }
}

@media (max-width: 767px) {
  .card-grid {
    grid-column: span 12;
  }
}
*/