/** he elegido usar un template de 12
 ** columnas, para poder utilizar
 ** span de 3, 4, 6 y 12 columnas
 ** más simple y menos intensivo para el
 ** browser sería usar repeat(4, 1fr) pero
 ** entonces no podría crear 3 columnas visuales */

.container__grid-no-bootstrap {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 1600px){
  .card-grid {
    grid-column: span 3;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .card-grid {
    grid-column: span 4;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid {
    grid-column: span 6;
  }
}

@media (max-width: 767px) {
  .card-grid {
    grid-column: span 12;
  }
}

.navbar-brand {
  font-family: 'LEMON MILK', sans-serif;
}

.navbar-brand sup {
  font-size: 0.5rem;
  vertical-align: super;
}

.nav-link {
  color: rgba(0, 0, 0, 1) !important;
  font-size: 1.25rem !important;
}

.container {
  width: 85% !important;
}

.profile__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.circular {
  /* width: 100%; */
  /** esta propiedad deja cortada
   ** la imagen, porque su relación
   ** de aspecto no es 1:1. Para 
   ** evitar el problema debo configurar
   ** el height: 100% para que se considere
   ** toda su altura (lado más corto) y se 
   ** elimine el ancho innecesario */
  height: 100%;
} 